@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply border-line;
  }

  *,
  a,
  button {
    cursor: default;
    user-select: none;
  }

  html,
  body,
  #root {
    @apply h-full bg-b-base text-t-primary;
    font-size: var(--font-size, 12px);
  }
}

@layer utilities {
  .drag {
    -webkit-app-region: drag;
  }
}
